In [4]:
import tensorflow as tf # 引入tensorflow框架并简写为tf

In [5]:
print('TensorFlow Version:{}'.format(tf.__version__)) # 打印查看tensorflow的版本号

TensorFlow Version:2.3.1

In [6]:
import pandas as pd # 引入pandas并简记为pd

In [7]:
data = pd.read_csv('Income1.csv') #将文件中的数据读取到DataFrame中

In [8]:
data

    Unnamed: 0  Education     Income
0            1  10.000000  26.658839
1            2  10.401338  27.306435
2            3  10.842809  22.132410
3            4  11.244147  21.169841
4            5  11.645485  15.192634
5            6  12.086957  26.398951
6            7  12.488294  17.435307
7            8  12.889632  25.507885
8            9  13.290970  36.884595
9           10  13.732441  39.666109
10          11  14.133779  34.396281
11          12  14.535117  41.497994
12          13  14.976589  44.981575
13          14  15.377926  47.039595
14          15  15.779264  48.252578
15          16  16.220736  57.034251
16          17  16.622074  51.490919
17          18  17.023411  61.336621
18          19  17.464883  57.581988
19          20  17.866221  68.553714
20          21  18.267559  64.310925
21          22  18.709030  68.959009
22          23  19.110368  74.614639
23          24  19.511706  71.867195
24          25  19.913043  76.098135
25          26  20.354515  75.775218
26          27  20.755853  72.486055
27          28  21.157191  77.355021
28          29  21.598662  72.118790
29          30  22.000000  80.260571

In [9]:
import matplotlib.pyplot as plt # 引入matplotlib绘图，简记为plt
%matplotlib inline # 直接在python console中生成图像

UsageError: unrecognized arguments: # 直接在python console中生成图像

In [ ]:
plt.scatter(data.Education,data.Income) # 根据x，y数据绘制散点图

In [ ]:
x=data.Education
y=data.Income

In [ ]:
model = tf.keras.Sequential() # 选择模型Sequential:层的线性叠加

In [ ]:
model.add(tf.keras.layers.Dense(1,input_shape=(1,))) # 添加层

In [ ]:
model.summary()
# 模型结构

In [ ]:
model.compile(optimizer='adam',loss='mse')
# optimizer:优化方法  loss:损失函数

In [ ]:
history = model.fit(x,y,epochs=5000)
#epochs:所有数据的训练次数

In [ ]:
model.predict(x)
# 预测